	.supportsheetname {
	font-size:50px;
	margin:0;
	line-height:1;
	}
	
	.supportsheetdescp2 {
	margin-top: 10px;
	}
	
	.supportsheetdescp2 a, .installguidetextholder a {
	color:#c1baef !important;
	}
		
	.supportsheetdescp2 a:hover, .installguidetextholder a:hover {
	color:#a8a1db !important;
	}
		
	.supportsheetdescp2 a:active, .installguidetextholder a:active {
	color:#8277cc !important;
	}
	
	.supportsheetmargin {
	padding:20px;
	width:1420px;
	margin-left:auto;
	margin-right:auto;
	color: white;
	font-size:18px;
	}
	
	.supportsheetcontainer {
	width:1300px;
	height:auto;
	background-color:#594eaa;
	border: 3px solid #4c4097;
	border-radius: 30px;
	margin-left:auto;
	margin-right:auto;
	color:white;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	}
	
	.supportsheetcontainer a {
	color:white;
	}
		
	.supportsheetcontainer a:hover {
	color:white;
	}
		
	.supportsheetcontainer a:active {
	color:white;
	}
	
	.switchbuttons, .enemyswitchbuttons {
	float:right;
	padding:15px 2% 10px 10px;
	transition: ease-in 0.07s;
	}
	
	.switchbuttongrid, .switchbuttonlist, .switchbuttonanim {
	width:40px;
	background-color: #51469d;
	border: 3px solid #4c4097;
	padding:10px;
	border-radius: 15px;
	transition: ease-in 0.07s;
	}
		
	.supporttabname, .supporttabnamebottom, .smbcdteamtabname {
	font-size:40px;
	margin:0;
	padding-left:2%;
	padding-top:60px;
	}
	
	.smbcdteamtabname {
	padding-top:0;
	}
	
	.supportcontentbar, .enemycontentbar {
	height:4px;
	width:96%;
	background-color: #4c4097;
	margin-left:auto;
	margin-right:auto;
	}
	
	.supportcontent, .smbcdteamgrids, .enemycontent, .smbcdteamcontent {
	padding:35px 25px 20px 20px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 15px;
	display: none;
	}
	
	.smbcdteamcontent {
	grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
	display: grid;
	}
	
	.enemycontentbar {
	margin-top: 100px;
	}
	
	.enemycontent {
	display: flex;
	flex-direction: column;
	flex:1;
	}
	
	.enemyright {
	padding: 35px 25px 20px 5px;
	}
	
	.enemyleft {
	padding: 35px 5px 20px 20px;
	}
	
	.flextheenemystuff.visible, .flextheenemystufflist.visible {
	display:flex;
	gap: 10px;
	align-items: flex-start;
	}
	
	.flextheenemystufflist {
		
	.enemynameandtags {
	margin-top: 3%;
	}
	
	.padenemiesonmobile {
	padding: 8px;
	}
	
	}
	
	.flextheenemystuff, .flextheenemystufflist {
	display:none;
	}
	
	.supportcontentlist {
	.supportstufficons {
	margin:1% 0% 0% 1% !important;
    height:65px !important;
	}
	}
	
	.crisprender, .enemystufficons, .switchbuttonanim, .enemytagicon {	
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: pixelated;
	}
	
	.smbcdteamposition, .smbcdrepresenting {
	font-size: 15px;
	line-height: 1.5;
	padding: 0% 0% 5% 5%;
	display: inline-block;
	vertical-align: top;
	opacity: 0.7;
	margin:0;
	width: 100%;
	}
	
	.smbcdrepresenting {
	padding: 0% 0% 0% 3%;
	}
	
	.representbanner {
	width: 95%;
	border-radius: 20px;
	margin-left: 2.5%;
	transition: ease-in 0.07s;
	}
	
	.supportcontentlist {
	padding:35px 25px 20px 20px;
	gap: 15px;
	display: none;
	
	
	
	.supportthings {
	margin-bottom:6px;
	height: 90px;
	}
	
	.supportstuffnames {
	padding: 10px 0% 0% 2%;
	display: inline-block;
	vertical-align: top;
	font-size: 23px;
	}
	
	.supportplaformiconleft, .supportplatformicons {
	vertical-align: top;
	float:right;
	height: 45px;
	padding: 23px 1% 1% 0%;
	}
	
	.supportplatformiconssmall {
	width:auto;
	height: 25px;
	float:right;
	padding: 33px 1% 1% 0%;
	}
	
	@media (max-width: 819px) {
	
	.supportplaformiconleft, .supportplatformicons  {
    height: 40px;
	}
	
	}


	}
	
	
	.contactstuffnames {
	padding: 10px 0% 0% 2%;
    display: inline-block;
    vertical-align: top;
	font-size: 25px;
	padding: 18px 0% 0% 1%;
	margin:0;
	}


	.contactstufficons {
	margin: 1% 0% 2% 1.2%;
	height: 64px;
	width: 64px;
	display: inline-block;
	border-radius:20px;
	}
	
	
	.supportcontent.visible {
	display: grid;
	}
	
	.supportcontentlist.visible {
	display: block;
	}
	
	.switchbuttongrid.active, .switchbuttonlist.active, .switchbuttonanim.active {
	background-color:#7d71cf;
	border: 3px solid #6659b7;
	}
	
	.supportthings, .enemythings, .smbcdteamthings {
	width:100%;
	height:100%;
	background-color: #51469d;
	border: 3px solid #4c4097;
	border-radius: 30px;
	transition: ease-in 0.07s;
	}
	
	.supportthings {
	cursor: pointer;
	}
	
	.enemythings {
	break-inside: avoid;
	display: block;
	align-items: flex-start;
	}
	
	.supportthings:hover, .switchbuttongrid:hover, .switchbuttonlist:hover, .switchbuttonanim:hover, .method:hover, .installstepdetailsbutton:hover, .switchbuttonanim:hover {
	transform: translateY(-3px) scale(1.01);
	box-shadow: 0px 3px 5px rgba(11, 4, 60, 0.3);
	
	.installnotes {
	opacity:1;
	}
	
	}
	
	.installstepdetailsbutton:hover {
	transform: translateY(0px) scale(1.01);
	}
		
	.supportthings:active, .switchbuttongrid:active, .switchbuttonlist:active, .switchbuttonanim:active, .method:active, .installstepdetailsbutton:active {
	transform: translateY(2px) scale(0.99);
	filter: brightness(90%) hue-rotate(4deg);
	box-shadow: 0px 4px 1px rgba(11, 4, 60, 0.0);
	}
	
	.supportstufficons, .enemystufficons, .smbcdteamdevicons {
	margin:6% 0% 0% 3%;
	width:auto;
	height: 135px;
	text-align:center;
	}
	
	.smbcdteamdevicons {
	margin:3% 0% 0% 3%;
	border-radius:15px;
	display:inline-block;
	}
	
	.nameandstuffflex2 {
	display:inline-block;
	vertical-align:top;
	margin-top: 5.5%;
	}
	
	.enemystufficons {
	margin: 2% 2% 0% 2%;
	z-index:50;
	position: relative;
	cursor:pointer;
	}
	
	.enemynameandtags {
	display: inline-block;
	vertical-align: top;
	margin-top: 4.5%;
	padding: 0 0 10px 0;
	}
	
	.enemytagicon {
	width: 20px;
	vertical-align: middle;
	padding-bottom: 4px;
	}
	
	.allowtextselect, .enemydescmargins, .enemystuffnames {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
	}
	
	.enemydescmargins {
	margin: 0 1% 1%;
	}
	
	.padenemiesonmobile {
	padding: 20px;
	}
	
	.buttonsdivider {
	width:4px;
	height:66px;
	display:inline-block;
	background-color: #4c4097;
	margin: 0 10px;
	float:none;
	}

	.supportstuffnames, .enemystuffnames, .smbcdteamstuffnames {
	padding:0% 0% 0% 5%;
	margin:0;
	font-size:25px;
	}
	
	.smbcdteamstuffnames {
	line-height: 1.2;
	margin-bottom:4px;
	width:100%;
	}
	
	.enemystuffnames {
	padding: 0;
	}
	
	.supportplatformfortext {
	margin:0;
	padding:0% 0% 6% 6%;
	vertical-align:middle;
	display:inline;
	}
	
	.supportplatformicons, .supportplaformiconleft, .supportplatformiconssmall, .supportplatformiconleftsmall, .smbcdteamicons, .smbcdteamiconsleft {
	height: 26px;
	vertical-align:middle;
	display:inline;
	margin:0% 0% 6% 0%;
	}
	
	.smbcdteamicons {
	margin:0% 0% 6% 1%;
	}
	
	.smbcdteamicons, .smbcdteamiconsleft {
	height: 37px;
	border-radius:10px;
	transition: ease-in 0.07s;
	}
	
	.supportplaformiconleft, .supportplatformiconleftsmall {
	margin:0% 0% 6% 6%;
	}
	
	.smbcdteamiconslefta {
	margin:0% 0% 6% 5%;
	}
	
	.smbcdteamiconsa {
	margin:0% 0% 6% 3%;
	}
	
	.supportplatformiconssmall, .supportplatformiconleftsmall {
	width: 60px;
	height: auto;
	}
	
	.method {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:1300px;
	background-color: #594eaa;
	border: 3px solid #4c4097;
	border-radius:30px;
	transition: ease-in 0.07s;
	cursor: pointer;
	margin-bottom:10px;
	padding:10px 10px 0 10px;
	color:white;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	}
	
	.installiconholder {
	display:inline-block;
	border-radius:25px;
	width:383px;
	}
	
	.installinfoholder {
	display:inline-block;
	vertical-align:top;
	margin:33px 0 0 10px;
	}
	
	.installname {
	font-size:22px;
	margin:0;
	}
	
	.installnotes {
	display:inline-block;
	background-color:#4c4097;
	padding:5px 20px 5px 20px;
	border-radius:30px;
	opacity:0.8;
	margin:0;
	transition: ease-in 0.07s;
	}
	
	.installnoteicons {
	width:20px;
	vertical-align:middle;
	margin:0 5px 4px 0;
	}
	
	.installguidetextholder {
	margin:20px;
	font-size: 18px;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
	}
	
	.installstepdetailsbutton {
	background-color: #51469d;
	text-align:center;
	padding:8px;
	font-size:22px;
	border: 3px solid #44388c;
	border-radius: 30px;
	transition: ease-in 0.07s;
	margin:0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor:pointer;
	margin-top: 20px;
	}
	
	.keepthestuffflexsmbcdteam {
	display:flex;
	width:100%;
	}
	
	.installstepdetails {
	background-color: #51469d;
	padding:20px;
	border-width: 0 3px 3px !important;
	border: solid #44388c;
	border-radius: 0 0 30px 30px;
	}
	
	.guideimages, .guideimageswide, .guideimagescmd {
	border-radius: 20px;
	width:330px;
	margin-left: auto;
	display: block;
	margin-right: auto;
	margin-bottom: 20px;
	}
	
	.iosimages {
	display:inline;
	border-radius: 45px;
	height: 536px;
	}
	
	.guideimageswide {
	width:auto;
	height:190px;
	}
	
	.installrequirements {
	margin-bottom: 70px;
	}
	
	.guideimagescmd {
	width: 622px;
	}
	
	@media (max-width: 1459px) {
	
	.supportsheetmargin {
	width:auto;
	}
	
	.supportsheetcontainer {
	width:auto;
	border-radius: 0px;
	}
	
	.method {
	width:90%;
	}
	
	.installiconholder {
	width:303px;
	}
	
	.installinfoholder {
	margin:18px 0 0 10px;
	}
	
	.installname {
	font-size: 21px;
	}
	
	}
	
	
	@media (max-width: 1190px) {
		
	.enemynameandtags {
	display: block;
	margin-top: 0;
	padding: 0 0 10px 0;
	}	
		
	}
	
	
	@media (max-width: 1090px) {
	
	.installiconholder {
	width:343px;
	}

	.installinfoholder {
	margin:2px 0 18px 2px;
	display:block;
	}
	
	.installname {
	font-size: 22px;
	}
	
	}
	
	
	@media (max-width: 670px) {
	
	.supporttabname {
	text-align:center;
	padding-left:0;
	}
	
	.supporttabnamebottom {
	text-align:center;
	padding-left:0;
	}
	
	.supportsheetname {
	text-align: center;
	}
	
	.switchbuttons, .enemyswitchbuttons {
	padding:15px 2% 10px 10px;
	transition: ease-in 0.07s;
	display:none;
	}
	
	.enemycontentbar {
	margin-top: 110px;
	}
	
	.enemyswitchbuttons {
	display:inherit !important;
	}
	
	.nameandstuffflex {
	display: inline-flex;
	flex-direction: column;
	vertical-align: top;
	}
	
	.keepthestuffflex {
	display:flex;
	}
	
	.supportstufficons {
	margin: 2% 0% 1% 3%;
    height: 80px;
	}
	
	.supportstuffnames {
	padding: 0% 0% 0% 3%;
	width: 100%;
	display: inline;
    vertical-align: top;
	}
	
	.supportplaformiconleft, .supportplatformiconleftsmall {
	padding: 0% 0% 2% 4%;
	}
	
	.supportplatformicons, .supportplatformiconssmall {
	padding: 0% 0% 2% 4px;
	}
	
	.contactstufficons {
	margin: 6.5px 0 0 10px !important;
	}
	
	.contactstuffnames {
	padding: 14px 0% 0% 2%;
	font-size:23px;
	}
	
	.installiconholder {
	width:100%;
	display:block;
	}
	
	.guideimages, .guideimageswide, .guideimagescmd {
	width:80% !important;
	height:auto !important;
	}
	
	.iosimages {
	height: auto;
	width: 74%;
	}
	
	}
	