	.supportsheetname {
	font-size:50px;
	margin:0;
	line-height:1;
	}
	
	.supportsheetdescp2 {
	margin-top: 10px;
	}
	
	.supportsheetdescp2 a, .installguidetextholder a {
	color:#c1baef !important;
	}
		
	.supportsheetdescp2 a:hover, .installguidetextholder a:hover {
	color:#a8a1db !important;
	}
		
	.supportsheetdescp2 a:active, .installguidetextholder a:active {
	color:#8277cc !important;
	}
	
	.supportsheetmargin {
	padding:20px;
	width:1420px;
	margin-left:auto;
	margin-right:auto;
	color: white;
	font-size:18px;
	}
	
	.supportsheetcontainer {
	width:1300px;
	height:auto;
	background-color:#594eaa;
	border: 3px solid #4c4097;
	border-radius: 30px;
	margin-left:auto;
	margin-right:auto;
	color:white;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	}
	
	.supportsheetcontainer a {
	color:white;
	}
		
	.supportsheetcontainer a:hover {
	color:white;
	}
		
	.supportsheetcontainer a:active {
	color:white;
	}
	
	.switchbuttons {
	float:right;
	padding:15px 2% 10px 10px;
	transition: ease-in 0.07s;
	}
	
	.switchbuttongrid, .switchbuttonlist {
	width:40px;
	background-color: #51469d;
	border: 3px solid #4c4097;
	padding:10px;
	border-radius: 15px;
	transition: ease-in 0.07s;
	}
		
	.supporttabname, .supporttabnamebottom {
	font-size:40px;
	margin:0;
	padding-left:2%;
	padding-top:60px;
	}
	
	.supportcontentbar {
	height:4px;
	width:96%;
	background-color: #4c4097;
	margin-left:auto;
	margin-right:auto;
	}
	
	.supportcontent {
	padding:35px 25px 20px 20px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 15px;
	display: none;
	}
	
	.supportcontentlist {
	.supportstufficons {
	margin:1% 0% 0% 1% !important;
    height:65px !important;
	}
	}
	
	.supportcontentlist {
	padding:35px 25px 20px 20px;
	gap: 15px;
	display: none;
	
	
	
	.supportthings {
	margin-bottom:6px;
	height: 90px;
	}
	
	.supportstuffnames {
	padding: 10px 0% 0% 2%;
    display: inline-block;
    vertical-align: top;
	font-size: 23px;
	}
	
	.supportplaformiconleft, .supportplatformicons {
	vertical-align: top;
	float:right;
	height: 45px;
	padding: 23px 1% 1% 0%;
	}
	
	.supportplatformiconssmall {
	width:auto;
	height: 25px;
	float:right;
	padding: 33px 1% 1% 0%;
	}
	
	@media (max-width: 819px) {
	
	.supportplaformiconleft, .supportplatformicons  {
    height: 40px;
	}
	
	}


	}
	
	
	.contactstuffnames {
	padding: 10px 0% 0% 2%;
    display: inline-block;
    vertical-align: top;
	font-size: 25px;
	padding: 18px 0% 0% 1%;
	margin:0;
	}


	.contactstufficons {
	margin: 1% 0% 2% 1.2%;
	height: 64px;
	width: 64px;
	display: inline-block;
	border-radius:20px;
	}
	
	
	.supportcontent.visible {
	display: grid;
	}
	
	.supportcontentlist.visible {
	display: block;
	}
	
	.switchbuttongrid.active {
	background-color:#7d71cf;
	border: 3px solid #6659b7;
	}
	
	.switchbuttonlist.active {
	background-color:#7d71cf;
	border: 3px solid #6659b7;
	}
	
	.supportthings {
	width:100%;
	height:auto;
	background-color: #51469d;
	border: 3px solid #4c4097;
	border-radius: 30px;
	transition: ease-in 0.07s;
	cursor: pointer;
	}
	
	.supportthings:hover, .switchbuttongrid:hover, .switchbuttonlist:hover, .method:hover, .installstepdetailsbutton:hover {
	transform: translateY(-3px) scale(1.01);
	box-shadow: 0px 3px 5px rgba(11, 4, 60, 0.3);
	
	.installnotes {
	opacity:1;
	}
	
	}
	
	.installstepdetailsbutton:hover {
	transform: translateY(0px) scale(1.01);
	}
		
	.supportthings:active, .switchbuttongrid:active, .switchbuttonlist:active, .method:active, .installstepdetailsbutton:active {
	transform: translateY(2px) scale(0.99);
	filter: brightness(90%) hue-rotate(4deg);
	box-shadow: 0px 4px 1px rgba(11, 4, 60, 0.0);
	}
	
	.supportstufficons {
	margin:6% 0% 0% 3%;
	width:auto;
	height: 135px;
	text-align:center;
	}

	.supportstuffnames {
	padding:0% 0% 0% 5%;
	margin:0;
	font-size:25px;
	}
	
	.supportplatformfortext {
	margin:0;
	padding:0% 0% 6% 6%;
	vertical-align:middle;
	display:inline;
	}
	
	.supportplatformicons, .supportplaformiconleft, .supportplatformiconssmall, .supportplatformiconleftsmall{
	height: 26px;
	vertical-align:middle;
	display:inline;
	padding:0% 0% 6% 0%;
	}
	
	.supportplaformiconleft, .supportplatformiconleftsmall {
	padding:0% 0% 6% 6%;
	}
	
	.supportplatformiconssmall, .supportplatformiconleftsmall {
	width: 60px;
	height: auto;
	}
	
	.method {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:1300px;
	background-color: #594eaa;
	border: 3px solid #4c4097;
	border-radius:30px;
	transition: ease-in 0.07s;
	cursor: pointer;
	margin-bottom:10px;
	padding:10px 10px 0 10px;
	color:white;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	}
	
	.installiconholder {
	display:inline-block;
	border-radius:25px;
	width:383px;
	}
	
	.installinfoholder {
	display:inline-block;
	vertical-align:top;
	margin:33px 0 0 10px;
	}
	
	.installname {
	font-size:22px;
	margin:0;
	}
	
	.installnotes {
	display:inline-block;
	background-color:#4c4097;
	padding:5px 20px 5px 20px;
	border-radius:30px;
	opacity:0.8;
	margin:0;
	transition: ease-in 0.07s;
	}
	
	.installnoteicons {
	width:20px;
	vertical-align:middle;
	margin:0 5px 4px 0;
	}
	
	.installguidetextholder {
	margin:20px;
	font-size: 18px;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
	}
	
	.installstepdetailsbutton {
	background-color: #51469d;
	text-align:center;
	padding:8px;
	font-size:22px;
	border: 3px solid #44388c;
	border-radius: 30px;
	transition: ease-in 0.07s;
	margin:0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor:pointer;
	margin-top: 20px;
	}
	
	.installstepdetails {
	background-color: #51469d;
	padding:20px;
	border-width: 0 3px 3px !important;
	border: solid #44388c;
	border-radius: 0 0 30px 30px;
	}
	
	.guideimages, .guideimageswide, .guideimagescmd {
	border-radius: 20px;
	width:330px;
	margin-left: auto;
	display: block;
	margin-right: auto;
	margin-bottom: 20px;
	}
	
	.guideimageswide {
	width:auto;
	height:190px;
	}
	
	.installrequirements {
	margin-bottom: 70px;
	}
	
	.guideimagescmd {
	width: 622px;
	}
	
	@media (max-width: 1459px) {
	
	.supportsheetmargin {
	width:auto;
	}
	
	.supportsheetcontainer {
	width:auto;
	border-radius: 0px;
	}
	
	.method {
	width:90%;
	}
	
	.installiconholder {
	width:303px;
	}
	
	.installinfoholder {
	margin:18px 0 0 10px;
	}
	
	.installname {
	font-size: 21px;
	}
	
	}
	
	
	@media (max-width: 1090px) {
	
	.installiconholder {
	width:343px;
	}

	.installinfoholder {
	margin:2px 0 18px 2px;
	display:block;
	}
	
	.installname {
	font-size: 22px;
	}
	
	}
	
	
	@media (max-width: 670px) {
	
	.supporttabname {
	text-align:center;
	padding-left:0;
	}
	
	.supporttabnamebottom {
	text-align:center;
	padding-left:0;
	}
	
	.supportsheetname {
	text-align: center;
	}
	
	.switchbuttons {
	padding:15px 2% 10px 10px;
	transition: ease-in 0.07s;
	width:200px;
	display:none;
	}
	
	.switchbuttongrid, .switchbuttonlist {
	width:60px;
	background-color: #51469d;
	border: 3px solid #4c4097;
	padding:10px;
	border-radius: 15px;
	transition: ease-in 0.07s;
	}
	
	.nameandstuffflex {
	display: inline-flex;
	flex-direction: column;
	vertical-align: top;
	}
	
	.keepthestuffflex {
	display:flex;
	}
	
	.supportstufficons {
	margin: 2% 0% 1% 3%;
    height: 80px;
	}
	
	.supportstuffnames {
	padding: 0% 0% 0% 3%;
	width: 100%;
	display: inline;
    vertical-align: top;
	}
	
	.supportplaformiconleft, .supportplatformiconleftsmall {
	padding: 0% 0% 2% 4%;
	}
	
	.supportplatformicons, .supportplatformiconssmall {
	padding: 0% 0% 2% 4px;
	}
	
	.contactstufficons {
	margin: 6.5px 0 0 10px !important;
	}
	
	.contactstuffnames {
	padding: 14px 0% 0% 2%;
	font-size:23px;
	}
	
	.installiconholder {
	width:100%;
	display:block;
	}
	
	.guideimages, .guideimageswide, .guideimagescmd {
	width:80% !important;
	height:auto !important;
	}
	
	}
	