@font-face {
  font-family: "Seurat Pro";
  src: url(https://famicomcd.github.io/fonts/FOT-Seurat-ProB.otf);
}

.legalmumbojumbo{
 font-family: "Seurat Pro", sans-serif;
 text-align: center; 
 font-size: 11px;
}

logo {
 display: grid;
 height: 100%;
}

.center-fit {
max-width: 100%;
max-height: 100vh;
margin: auto;
}

.footer {
padding: 15px;
background-color: #483c97;
margin-top: auto;

a:link {
  color: #d8e0ff;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #d8e0ff;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: #C8C3E8;
  background-color: transparent;
  text-decoration: none;
}
}

#famicomcdbanner{
background: url(https://famicomcd.github.io/graphics/famicomcdbanner.svg);
height: 215px;
width:auto;
position: relative;
background-position: top center;
background-repeat: repeat-x;
text-align: center;
}

@media screen and (max-width: 650px) {
	.legalmumbojumbo{
	font-size: 9px;
	}
}

@media screen and (max-width: 396px) {
	.legalmumbojumbo{
	font-size: 7px;
	}
}