.mainpage{
 padding:0;
 margin:0;
 font-size: 20px;
 min-height: 100vh;
 display: flex;
 flex-direction: column;
 font-family: "Seurat Pro";
 background-color: #d8e0ff;
}

.SMBCDProjectBox {
text-align: center;
padding-bottom: 50px; 
}

.banners {
padding-top: 20px;
text-align: center;
}

.ProjectsText {
 font-family: "Seurat Pro", sans-serif;
 text-align: center; 
 font-size: 30px;
}