.mainpage{
 padding:0;
 margin:0;
 font-size: 20px;
 min-height: 100vh;
 display: flex;
 flex-direction: column;
 font-family: "Russian Seurat Pro";
 background-color: #d8e0ff;
}

.ProjectsText {
 font-family: "Russian Seurat Pro";
 text-align: center; 
 font-size: 30px;
}

.legalmumbojumbo{
 font-family: "Russian Seurat Pro";
 text-align: center; 
 font-size: 11px;
}

.thesmallerfontonphones {
float:none;
}

.pushwiththeexpectations {
padding-top:35px;
}


@media screen and (max-width: 1006px) {

	.pushwiththeexpectations {
	padding-top:0px;
	}

}
